@model MVC4StudentsApplication.EnrolmentTable
@{
    ViewBag.Title = "Enrolment Detail";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>            
        </div>
    </section>
}


<fieldset>
    <legend>EnrolmentTable</legend>
        
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseTable.CourseTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseTable.CourseTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentTable.StudentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentTable.StudentName)
    </div>     

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.EnrolmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
